@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --cell-border-color: #888;
  --sudoku-board-border-color: #000;
  --subgrid3x3-border-color: #2e2e22;
  --alternate-cell-color: #9ddfe8;
  --selected-cell-color: rgb(142, 216, 147);
  --fillable-cell-color: rgb(106, 106, 222);

  --btn-bg-color: #f0f0f0;
  --btn-border-color: #888;
  --btn-hover-color: #ddd;
  --btn-active-color: #ffffff;

  --incorrect-color: #ff8585;
}

* {
  box-sizing: border-box;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 40px); /* Adjust width as needed */
  grid-template-rows: repeat(9, 40px); /* Adjust height as needed */
  background-color: transparent;
  border: 3px solid var(--sudoku-board-border-color);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.2);
  animation: showBoard 1s forwards 1s;
}

@keyframes showBoard {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.sudoku-cell {
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 1.28rem;
  width: 100%;
  height: 100%;
  background-color: #fff; /* Background color for cells */
  border: 0.7px solid var(--cell-border-color); /* Border around cells */
}

.border-r {
  z-index: 100;
  border-right: 3px solid var(--subgrid3x3-border-color);
}

.border-b {
  z-index: 100;
  border-bottom: 3px solid var(--subgrid3x3-border-color);
}

.sudoku-board .sudoku-cell.fillable-cell {
  /* background-color: #7ebdcd; */
  color: var(--fillable-cell-color);
}

/* .sudoku-board .sudoku-cell.fillable-cell:focus {
  background-color: rgb(142, 216, 147);
  outline: transparent;
  caret-color: transparent;
} */

.sudoku-board > .sudoku-cell:nth-child(even) {
  background-color: var(--alternate-cell-color);
}

.sudoku-board .sudoku-cell.selected-cell {
  background-color: var(--selected-cell-color);
  border: 2px solid rgb(168, 183, 169);
  outline: transparent;
  caret-color: transparent;
}

.sudoku-board .sudoku-cell.bg-incorrect {
  background-color: var(--incorrect-color);
}

.number-pad {
  display: flex;
  margin-top: 20px; /* Adjust margin as needed */
}

.number-button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  border-radius: 5px;
}

.util-button {
  width: fit-content;
  height: fit-content;
  padding: 0.3rem;
}

@media (hover: hover) {
  .number-button:hover {
    background-color: var(--btn-hover-color);
  }
}

.number-button.highlightactive {
  background-color: #8cc9e3;
}
.number-button:active {
  background-color: var(--btn-active-color);
}

.highlight-cell {
  z-index: -10;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  padding: 1px;
  /* border: 0.7px solid var(--cell-border-color); */
}

.highlight-sub-cell {

  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 0.5rem;
  padding: 0.4px;
  width: 100%;
  height: 100%;
  color: #000000a1;
  /* border: 1px solid red; */
}

.highlight-cell.selected-cell {
  background-color: var(--selected-cell-color);
  border: 2px solid rgb(168, 183, 169);
  outline: transparent;
  caret-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: transparent;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
